@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

.cover {
  background-image: url('../assets/banner.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #212121;
}
